<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.doode.android"
    android:versionCode="1"
    android:versionName="0.1 alpha"
    android:installLocation="auto">

    <!-- SDK version -->
    <uses-sdk android:minSdkVersion="4"
              android:targetSdkVersion="17"/>

    <!-- app permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- screen support -->
    <supports-screens android:largeScreens="true"
                      android:anyDensity="true"
                      android:normalScreens="true"
                      android:smallScreens="true"/>

    <!-- define our application -->
    <application android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name"
                 android:allowBackup="true"
                 android:allowClearUserData="true"
                 android:description="@string/app_description"
                 android:name="Doode"
                 android:theme="@style/Theme.Sherlock">

        <!-- launcher activity -->
        <activity android:label="@string/app_name"
                  android:name=".MainActivity"
                  android:theme="@style/Theme.Sherlock"
                  android:description="@string/app_description">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- login -->
        <activity android:name=".LoginActivity"></activity>

        <!-- update profile status activity -->
        <activity android:name=".UpdateStatusActivity"
                  android:launchMode="singleTop"
                  android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain"/>
            </intent-filter>

        </activity>

    </application>

</manifest>