<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.doode.android"
    android:versionCode="1"
    android:versionName="0.1 alpha">

    <!-- SDK version -->
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14"/>

    <!-- app permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- define our application -->
    <application android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name"
                 android:allowBackup="true"
                 android:allowClearUserData="true"
                 android:description="@string/app_description">

        <activity android:label="@string/app_name"
                  android:name="Doode"
                  android:description="@string/app_description">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>